body {
  background: linear-gradient(to bottom, powderblue, #facc76);
}
* {
  box-sizing: border-box;
}
.szoveg {
  text-align: center;
}
.flex-container {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-right: auto;
  margin-left: auto;
}
.flex-item-container {
  flex: 50%;
  flex-direction: column;
  max-width: 50%;
  padding: 0 4px;
}
.flex-item {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media (max-width: 600px) {
  .flex-item-container {
    flex: 100%;
    max-width: 100%;
  }
}
